// _mixins.scss
@import './variables';
@mixin datepicker-theme($theme) {
  @if $theme == light {
    background-color: $datepicker__background-color-light;
    color: $datepicker__text-color-light;
    border: 1px solid $datepicker__border-color-light;
    .date {
      &:hover {
        background-color: $datepicker__hover-color-light;
        color: white;
      }
      .selected {
        background-color: $datepicker__selected-color-light;
        color: white;
      }
    }
  }

  @if $theme == dark {
    background-color: $datepicker__background-color-dark;
    color: $datepicker__text-color-dark;
    border: 1px solid $datepicker__border-color-dark;
    .date {
      &:hover {
        background-color: $datepicker__hover-color-dark;
        color: white;
      }
      .selected {
        background-color: $datepicker__selected-color-dark;
        color: white;
      }
    }
  }
}
