// _mixins.scss
@import './variables';
@mixin datepicker-theme($theme) {
  @if $theme == light {
    background-color: $datepicker__background-color-light;
    color: $datepicker__text-color-light;
    border: 1px solid $datepicker__border-color-light;
    .date {
      &:hover {
        background-color: $datepicker__hover-color-light;
        color: white;
      }
    }

    .header {
      button {
        &:hover {
          background-color: #f3f4f6;
        }
      }
    }

    .day-button {
      background-color: $datepicker__background-color-light;
      color: $datepicker__text-color-light;
      width: 2rem;
      height: 2rem;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s;
      border: none;

      &:hover {
        background-color: #e5e7eb;
      }
      &.selected {
        background-color: $datepicker__selected-color-light;
        color: white;
      }
      &.disabled {
        color: $datepicker__disabled-color-light;
        cursor: not-allowed;
      }
    }
  }

  @if $theme == dark {
    background-color: $datepicker__background-color-dark;
    color: $datepicker__text-color-dark;
    border: 1px solid $datepicker__border-color-dark;
    .date {
      &:hover {
        background-color: $datepicker__hover-color-dark;
        color: white;
      }
    }

    .header {
      button {
        &:hover {
          background-color: #444444;
        }
      }
    }

    .day-button {
      background-color: $datepicker__background-color-dark;
      color: $datepicker__text-color-dark;
      width: 2rem;
      height: 2rem;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s;
      border: none;

      &:hover {
        background-color: #555555;
      }
      &.selected {
        background-color: $datepicker__selected-color-dark;
        color: white;
      }
      &.disabled {
        color: $datepicker__disabled-color-dark;
        cursor: not-allowed;
      }
    }
  }
}
