// _variables.scss

// Light 모드 변수
$datepicker__background-color-light: #fff;
$datepicker__disabled-color-light: #ccc;
$datepicker__border-color-light: #f0f0f0;
$datepicker__hover-color-light: #dae7ff;
$datepicker__selected-color-light: #5e98fc;
$datepicker__text-color-light: #303030;

// Dark 모드 변수
$datepicker__background-color-dark: #333;
$datepicker__disabled-color-dark: #555;
$datepicker__border-color-dark: #444;
$datepicker__hover-color-dark: #ffb272;
$datepicker__selected-color-dark: #fc6513;
$datepicker__text-color-dark: #fff;

// 공통 스타일
$datepicker__border-radius: 0.4rem;
$datepicker__font-size: 0.8rem;
$datepicker__font-family: 'Malgun Gothic', 'Roboto', 'Arial', sans-serif;
