@import '../../../shared/style/mixins';

.datepicker-input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;

  &[data-theme='light'] {
    @include datepicker-theme(light);
  }

  &[data-theme='dark'] {
    @include datepicker-theme(dark);
  }

  &:focus {
    outline: none;
  }
}
